@import '../../Style-patterns/patterns';

.tracksList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
    background-color: $black2;

    &__artist{
        border: 1px $black;
        border-radius: 10px;
        width: 90%;
        height: 3.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem;
        background-color: $black;

        &__box{
            display: flex;

            &__description{
                color: $white;
                margin-left: 0.5rem;
    
                &__title{
                    font-family: $secondaryFont;
                    font-size: 0.8rem;
                    margin: 0.5rem;
                    text-decoration: none;
                    color: $white;
                }
                
                &__comment{
                    font-family: $secondaryFont;
                    font-size: 0.8rem;
                    margin-left: 0.5rem;
                }
            }
        }

        &__button{
            border: none;
            height: 2rem;
            
            &__star{
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }
}

@media only screen and (min-width: 1000px){
    .tracksList{
        &__artist{
            &__button{
                cursor: pointer;
            }
        }
    }
}