@import '../../Style-patterns/patterns';

.input{
    display: flex;
    justify-content: center;
    background-color: $black;
    
    &__button{
        position: relative;
        left: 0.8rem;
        z-index: 20;
        align-self: center;
        background-color: transparent;
        border: transparent;
        height: 100%;
        width: 2rem;

        &__icon{
            background-color: transparent;
            width: 100%;
            height: 100%;
        }
    }

    &__input{
        @extend %input;
        margin-left: -1.5rem;
        background-color: $black;
    }
}

@media only screen and (min-width: 1000px){
    .input{
        &__button{
            &:hover{
                cursor: pointer;
            }
        }
    }
}