@import '../../Style-patterns/patterns';

.button{
    background-color: transparent;
    background-color: $black;
    border: transparent;
    display: flex;
    flex-direction: column;
    width: 2rem;
    margin-right: 0.5rem;
    
    &__loupe{
        width: 100%;
        margin-top: 1rem;
    }

    &__arrow{
        width: 1rem;
    }
}