.ppButton{
    border: transparent;
    background-color: transparent;
    width: 4rem;
    height: 90%;
    outline: none;
    
    &__ppIcon{
        width: auto;
        height: 100%;
    }
}

@media only screen and (min-width: 1000px){
    .ppButton{
        cursor: pointer;
    }
}