@import '../../Style-patterns/patterns';

.navbar2{
    position: relative;
    z-index: 10;
    background-color: $black;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateY(-200%);
    transition: .8s;

    &.open{
        transform: translateY(0);
        transition: .8s;
    }

    Input{
        width: 20rem;
        height: 1.8rem;
    }
}